body {
    font-family: Arial, sans-serif;


    .block {
        width: 150px;
        height: 100px;
        background-color: #3498db;
        margin-right: 0.3cm;
        margin-bottom: 0.3cm;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:hover::after {
            content: attr(data-description);
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            white-space: nowrap;
            display: none;
        }

        &:hover::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            border: solid transparent;
            border-width: 8px;
            margin-left: -8px;
            border-top-color: rgba(0, 0, 0, 0.8);
        }
    }
}

#title {
    font-family: 'Merriweather';
    text-align: center;
    padding: 30px;
    font-size: 28px;
    letter-spacing: -0.01em;
    color: #333;
}

#legend {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px;
    font-size: 12px;
}

#legend .item {
    line-height: 12px;
    padding: 0 10px 0 4px;
}

#legend .item.male {
    border-left: 12px solid #19A0AA;
}

#legend .item.female {
    border-left: 12px solid #F15F36;
}

#chart-wrapper {
    height: 1000px;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    color: #aaa;
    font-size: 12px;
}

#footer a {
    color: #aaa;
}

.has-bg-img{
    background-size: cover;
}